
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


p:nth-of-type(3){
    color : red;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Oswald', sans-serif;
}
span{
    font-size: 1.5em;
    text-decoration: underline red;
    
    margin-right: 10px;
}

